*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: white;   
    position: relative;    
}

@font-face{
    font-family: GenJyuuGothicH;
    src: url("./font/genjyuugothic/GenJyuuGothic-P-Heavy.ttf");
}
@font-face{
    font-family: GenJyuuGothicM;
    src: url("./font/genjyuugothic/GenJyuuGothic-P-Medium.ttf");
}
@font-face{
    font-family: CPandTrans;
    src: url("./font/CPandTrans/CPandTrans.ttf");
}
@font-face{
    font-family: Roboto;
    src: url("./font/Roboto/Roboto-Regular.ttf");
}
.GenJyuuGothicH{
    font-family: GenJyuuGothicH;
}
.GenJyuuGothicM{
    font-family: GenJyuuGothicM;
}
.CPandTrans{
    font-family: CPandTrans;
}

body{
    background-color: #64805D;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative
}

/* html{
    zoom: 0.8;
} */

@media screen and (max-width: 1600px){
    html{
        zoom: 0.801;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE and Edge */
html {
    -ms-overflow-style: none;
} 

header{    
    background-size: cover;
    background-position: center;
}

.navigation_bar{
    background-color: #FBB040;
    width: 2000px;
    height: 4.2vh;
    z-index: 5;
}

.bottom_bar{
    position: absolute;
    background-color: #FBB040;
    width: 100vw;
    height: 10vh;
    top: 7500px;
    z-index: 10;   
}


.aboutus{
    padding: 4vh 0 4vh 3vw;
    display: block;
}

.aboutus_dinosaur{
    display: inline;
    font-size: 2vw;
    cursor: pointer;
}

.aboutus_{
    display: inline;
    padding: 0 2vw 0 2vw;
}

.aboutus_aboutus{    
    border-left: solid 1px white;
    display: inline;
    font-weight: 700;
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
    padding: 0 0 0 2vw;
    margin: 0 0 0 2vw;
    cursor: pointer;
}

.flex-container{
    display: flex;
    align-items: center;
}

.main_photo{    
    background-image: url('assets/group2.png');
    background-size: cover;
    background-position: center;
    width: 1200px;   
    height: 600px;
    border-radius: 20px;    
    margin-left: -60px;
}


.intro_topic{
    position: absolute;
    font-size: 80px;
    text-shadow: 0px 0.5px 1px #00000029;    
    margin-top: -600px;
    margin-left: 1200px;    
}

.intro_content{    
    position: absolute;
    width: 600px;
    font-size: 30px;
    text-shadow: 0px 0.5px 1px #00000029;    
    margin-top: -260px;
    margin-left: 1200px;    
}

.member_list{   
    width: 100%;    
}

.wave{
    overflow: hidden;  
    position: absolute;
    background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png');
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    width: 200%;
    height: 300px;    
    left: 0;
    right: 0;
    top: 1100px;
    bottom: 0;     
    /* background-image: linear-gradient(to top, #86377b 20%, #27273c 80%); */
    z-index: 10;
    opacity: 0.75;
    transform-origin: center bottom;
}

.waveAnimation{
    animation: move_wave 10s linear infinite;  
}

@keyframes move_wave{
    0%{
        transform: translateX(0) translateZ(0) scaleY(1);
    }

    50%{
        transform: translateX(-25%) translateZ(0) scaleY(0.55);
    }

    100%{
        transform: translateX(-50%) translateZ(0) scaleY(1);
    }
}

.background{    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#bg_none_01{
    background-image: url('assets/bg_none_01.png');
    background-repeat: no-repeat;    
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: 3;
    margin-left: 1560px;
    margin-top: -940px;
    opacity: 0.9; 
}

#big_wave_01{
    background-image: url('assets/bg_wave_01.png');
    background-repeat: no-repeat;    
    position: absolute;
    width: 2400px;
    height: 3000px;
    z-index: 1;
    margin-left: -80px;
    margin-top: -110px;    
}

#big_wave_02{
    background-image: url('assets/bg_wave_02.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 2400px;
    height: 3000px;
    z-index: 2;
    margin-left: -80px;
    margin-top: 1000px;
}

#big_wave_03{
    background-image: url('assets/bg_wave_03.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 2400px;
    height: 3000px;
    z-index: 3;
    margin-left: -80px;
    margin-top: 2000px;
}

#big_wave_04{
    background-image: url('assets/bg_wave_04.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 2400px;
    height: 3000px;
    z-index: 4;
    margin-left: -80px;
    margin-top: 3000px;
}

#big_wave_05{
    background-image: url('assets/bg_wave_05.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 2400px;
    height: 3000px;
    z-index: 5;
    margin-left: -80px;
    margin-top: 4000px;    
}

#big_wave_06{
    background-image: url('assets/bg_wave_06.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 2400px;
    height: 1800px;
    z-index: 6;
    margin-left: -80px;
    margin-top: 5000px;
}

#bg_egg_01{
    background-image: url('assets/bg_egg_01.png');
    background-repeat: no-repeat;
    background-size: 115%;
    position: absolute;
    width: 300px;
    height: 400px;
    z-index: 1;
    margin-left: 1550px;
    margin-top: -40px;
}

#bg_egg_02{
    background-image: url('assets/bg_egg_02.png');
    background-repeat: no-repeat;
    background-size: 130%;
    position: absolute;
    width: 400px;
    height: 600px;
    z-index: 2;
    margin-left: 900px;
    margin-top: 2150px;
}

#bg_egg_03{
    background-image: url('assets/bg_egg_03.png');
    background-repeat: no-repeat;
    background-size: 130%;
    position: absolute;
    width: 400px;
    height: 600px;
    z-index: 5;
    margin-left: 700px;
    margin-top: 5260px;
}

#bg_leaf_1-1{
    background-image: url('assets/bg_leaf_1-1.png');
    background-repeat: no-repeat;
    background-size: 130%;
    position: absolute;
    width: 400px;
    height: 600px;
    z-index: 7;
    margin-left: 1550px;
    margin-top: 1200px;
}

#bg_leaf_1-2{
    background-image: url('assets/bg_leaf_1-2.png');
    background-repeat: no-repeat;
    background-size: 130%;
    position: absolute;
    width: 400px;
    height: 600px;
    z-index: 2;
    margin-left: 1560px;
    margin-top: 1340px;
}

#bg_leaf_2-1{
    background-image: url('assets/bg_leaf_2-1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 700px;
    height: 700px;
    z-index: 3;
    margin-left: -250px;
    margin-top: 1670px;
}

#bg_leaf_2-2{
    background-image: url('assets/bg_leaf_2-2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 800px;
    height: 800px;
    z-index: 3;
    margin-left: -250px;
    margin-top: 1810px;
}

#bg_leaf_2-3{
    background-image: url('assets/bg_leaf_2-3.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 800px;
    height: 800px;
    z-index: 3;
    margin-left: -250px;
    margin-top: 2070px;
}

#bg_leaf_3-1{
    background-image: url('assets/bg_leaf_3-1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 700px;
    height: 700px;
    z-index: 5;
    margin-left: 1400px;
    margin-top: 2800px;
}

#bg_leaf_3-2{
    background-image: url('assets/bg_leaf_3-2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 700px;
    height: 700px;
    z-index: 6;
    margin-left: -280px;
    margin-top: 3770px;
}

#bg_leaf_4-1{
    background-image: url('assets/bg_leaf_4-1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 800px;
    height: 800px;
    z-index: 8;
    margin-left: 1450px;
    margin-top: 4500px;
}

#bg_leaf_4-2{
    background-image: url('assets/bg_leaf_4-2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 900px;
    height: 900px;
    z-index: 8;
    margin-left: -400px;
    margin-top: 5500px;
}

#member_01{
    background-image: url('assets/member_01.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 8;
    margin-left: 100px;
    margin-top: 600px;
    opacity: 0;
}

#desc_01{
    position: absolute;
    font-size: 32px;
    color: #FFFFFF;
    position: absolute;
    width: 1000px;
    margin-left: 1240px;
    margin-top: 650px;
    z-index: 8;
    text-align: left;
    font-weight: bold;
    opacity: 0;
}

#id_01{
    font-size: 25px;
    color: #FFFFFF;
    position: absolute;
    margin-left: 300px;
    margin-top: 930px;
    z-index: 8;
    text-align: center;
    font-weight: bold;
    opacity: 0;
}

#member_02{
    background-image: url('assets/member_02.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 8;
    margin-left: 1400px;
    margin-top: 1600px;
    opacity: 0;
}

#desc_02{
    font-size: 32px;
    color: #FFFFFF;
    position: absolute;
    margin-left: 0px;
    margin-top: 1658px;
    z-index: 8;
    text-align: right;
    font-weight: bold;
    letter-spacing: 2;
    opacity: 0;
}

#id_02{
    font-size: 25px;
    color: #FFFFFF;
    position: absolute;
    margin-left: 1500px;
    margin-top: 1935px;
    z-index: 8;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2;
    opacity: 0;
}

#member_03{
    background-image: url('assets/member_03.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 8;
    margin-left: 200px;
    margin-top: 2600px;
    opacity: 0;
}

#desc_03{
    position: absolute;
    font-size: 32px;
    color: #FFFFFF;
    position: absolute;
    margin-left: 1220px;
    margin-top: 2655px;
    z-index: 8;
    width: 1000px;
    text-align: left;
    font-weight: bold;
    letter-spacing: 2;
    opacity: 0;
}

#id_03{
    font-size: 25px;
    color: #FFFFFF;
    position: absolute;
    margin-left: 300px;
    margin-top: 2930px;
    z-index: 8;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2;
    opacity: 0;
}

#member_04{
    background-image: url('assets/member_04.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 8;
    margin-left: 1400px;
    margin-top: 3600px;
    opacity: 0;
}

#desc_04{
    font-size: 32px;
    color: #73956B;
    position: absolute;
    margin-left: 50px;
    margin-top: 3645px;
    z-index: 8;
    text-align: right;
    font-weight: bold;
    letter-spacing: 2;
    opacity: 0;
}

#id_04{
    font-size: 25px;
    color: #73956B;
    position: absolute;
    margin-left: 1500px;
    margin-top: 3940px;
    z-index: 8;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2;
    opacity: 0;
}


#member_05{
    background-image: url('assets/member_05.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 8;
    margin-left: 200px;
    margin-top: 4600px;
    opacity: 0;
}

#desc_05{
    position: absolute;
    font-size: 32px;
    color: #73956B;
    position: absolute;
    margin-left: 1210px;
    margin-top: 4680px;
    z-index: 8;
    width: 1000px;
    text-align: left;
    font-weight: bold;
    letter-spacing: 2;
    opacity: 0;
}

#id_05{
    font-size: 25px;
    color: #73956B;
    position: absolute;
    margin-left: 300px;
    margin-top: 4930px;
    z-index: 8;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2;
    opacity: 0;
}

#member_06{
    background-image: url('assets/member_06.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 8;
    margin-left: 1400px;
    margin-top: 5800px;
    opacity: 0;
}

#desc_06{
    font-size: 32px;
    color: #73956B;
    position: absolute;
    margin-left: 100px;
    margin-top: 5890px;
    z-index: 8;
    text-align: right;
    font-weight: bold;
    letter-spacing: 2;
    opacity: 0;
}

#id_06{
    font-size: 25px;
    color: #73956B;
    position: absolute;
    margin-left: 1500px;
    margin-top: 6130px;
    z-index: 8;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2;
    opacity: 0;
}

.top{
    position: fixed;    
    width: 100px;
    height: 100px;    
    left: 47%;
    bottom: 4%;
    z-index: 10;
    cursor: pointer;
}

.top_context{
    position: fixed;
    color: #90AF89;
    font-size: 30px;
    bottom: 7%;
    left: 48%;
    z-index: 10;
    cursor: pointer;
}


.chien{
    position: absolute;
    left: 172px;
    top: -505px;
    /* top: 14.5vw; */
    height: 6.3vw;
    width: 5.8vw;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
}

.howeng{
    position: absolute;
    left: 305px;
    top: -455px;
    /* top: 14.5vw; */
    height: 6vw;
    width: 4.5vw;
    border-radius: 50%;
    background-color: #FBB040;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
}

.tzuyu{
    position: absolute;
    left: 530px;
    top: -450px;
    height: 5.3vw;
    width: 4.5vw;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
}

.sandy{
    position: absolute;
    left: 670px;
    top: -430px;
    height: 5.2vw;
    width: 3.8vw;
    border-radius: 50%;
    background-color: #FBB040;
    cursor: pointer;
    transform: rotate(-30deg);
    opacity: 0;
    z-index: 10;
}

.yuen{
    position: absolute;
    left: 780px;
    top: -450px;
    height: 6vw;
    width: 4.5vw;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
}

.boo{
    position: absolute;
    left: 480px;
    top: -270px;
    height: 7.8vw;
    width: 5vw;
    border-radius: 50%;
    background-color: #FBB040;
    cursor: pointer;
    opacity: 0;
}

.member_01_fading{
    animation-name: member_01_fading;
    animation-duration: 2s;
    animation-direction: both;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
}

.member_01_id_fading{
    animation-name: member_01_id_fading;
    animation-duration: 2s;
    animation-direction: both;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
}

.member_01_desc_fading{
    animation-name: member_01_desc_fading;
    animation-duration: 2s;
    animation-direction: both;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.7s;
}

.member_02_fading{
    animation-name: member_02_fading;
    animation-duration: 2s;
    animation-direction: both;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
}

.member_02_id_fading{
    animation-name: member_02_id_fading;
    animation-duration: 2s;
    animation-direction: both;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
}

.member_02_desc_fading{
    animation-name: member_02_desc_fading;
    animation-duration: 2s;
    animation-direction: both;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.7s;
}

.member_03_fading{
    animation-name: member_03_fading;
    animation-duration: 2s;
    animation-direction: both;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
}

.member_03_id_fading{
    animation-name: member_03_id_fading;
    animation-duration: 2s;
    animation-direction: both;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
}

.member_03_desc_fading{
    animation-name: member_03_desc_fading;
    animation-duration: 2s;
    animation-direction: both;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.7s;
}

.member_04_fading{
    animation-name: member_04_fading;
    animation-duration: 2s;
    animation-direction: both;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
}

.member_04_id_fading{
    animation-name: member_04_id_fading;
    animation-duration: 2s;
    animation-direction: both;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
}

.member_04_desc_fading{
    animation-name: member_04_desc_fading;
    animation-duration: 2s;
    animation-direction: both;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.7s;
}

.member_05_fading{
    animation-name: member_05_fading;
    animation-duration: 2s;
    animation-direction: both;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.7s;
}

.member_05_id_fading{
    animation-name: member_05_id_fading;
    animation-duration: 2s;
    animation-direction: both;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.7s;
}

.member_05_desc_fading{
    animation-name: member_05_desc_fading;
    animation-duration: 2s;
    animation-direction: both;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.9s;
}

.member_06_fading{
    animation-name: member_06_fading;
    animation-duration: 2s;
    animation-direction: both;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 2s;
}

.member_06_id_fading{
    animation-name: member_06_id_fading;
    animation-duration: 2s;
    animation-direction: both;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 2.2s;
}

.member_06_desc_fading{
    animation-name: member_06_desc_fading;
    animation-duration: 2s;
    animation-direction: both;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 2s;
}

.delay_04s{
    animation-delay: 0.4s;
}

.delay_05s{
    animation-delay: 0.5s;
}

.delay_06s{
    animation-delay: 0.6s;
}

.delay_07s{
    animation-delay: 0.7s;
}

.delay_08s{
    animation-delay: 0.8s;
}




@keyframes member_01_fading{    
    100% {
        background-image: url('assets/member_01.png');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        width: 300px;
        height: 300px;
        z-index: 8;
        margin-left: 400px;
        margin-top: 600px;
        opacity: 1;
    }
}

@keyframes member_01_id_fading{    
    100% {
        font-size: 25px;
        color: #FFFFFF;
        position: absolute;
        margin-left: 500px;
        margin-top: 930px;
        z-index: 8;
        text-align: center;
        font-weight: bold;
        opacity: 1;
    }
}

@keyframes member_01_desc_fading{    
    100% {
        font-size: 32px;
        color: #FFFFFF;
        position: absolute;
        margin-left: 840px;
        margin-top: 650px;
        z-index: 8;
        text-align: left;
        font-weight: bold;
        opacity: 1;
    }
}

@keyframes member_02_fading{    
    100% {
        background-image: url('assets/member_02.png');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        width: 300px;
        height: 300px;
        z-index: 8;
        margin-left: 1200px;
        margin-top: 1600px;
        opacity: 1;
    }
}

@keyframes member_02_id_fading{    
    100% {
        font-size: 25px;
        color: #FFFFFF;
        position: absolute;
        margin-left: 1300px;
        margin-top: 1935px;
        z-index: 8;
        text-align: center;
        font-weight: bold;
        letter-spacing: 2;
        opacity: 1;
    }
}

@keyframes member_02_desc_fading{    
    100% {
        font-size: 32px;
        color: #FFFFFF;
        position: absolute;
        margin-left: 200px;
        margin-top: 1658px;
        z-index: 8;
        text-align: right;
        font-weight: bold;
        letter-spacing: 2;        
        opacity: 1;
    }
}

@keyframes member_03_fading{    
    100% {
        background-image: url('assets/member_03.png');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        width: 300px;
        height: 300px;
        z-index: 8;
        margin-left: 400px;
        margin-top: 2600px;
        opacity: 1;
    }
}

@keyframes member_03_id_fading{    
    100% {
        font-size: 25px;
        color: #FFFFFF;
        position: absolute;
        margin-left: 500px;
        margin-top: 2930px;
        z-index: 8;
        text-align: center;
        font-weight: bold;
        letter-spacing: 2;
        opacity: 1;
    }
}

@keyframes member_03_desc_fading{    
    100% {
        font-size: 32px;
        color: #FFFFFF;
        position: absolute;
        margin-left: 820px;
        margin-top: 2655px;
        z-index: 8;
        text-align: left;
        font-weight: bold;
        letter-spacing: 2;
        opacity: 1;
    }
}

@keyframes member_04_fading{    
    100% {
        background-image: url('assets/member_04.png');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        width: 300px;
        height: 300px;
        z-index: 8;
        margin-left: 1200px;
        margin-top: 3600px;
        opacity: 1;
    }
}

@keyframes member_04_id_fading{    
    100% {
        font-size: 25px;
        color: #73956B;
        position: absolute;
        margin-left: 1300px;
        margin-top: 3940px;
        z-index: 8;
        text-align: center;
        font-weight: bold;
        letter-spacing: 2;
        opacity: 1;
    }
}

@keyframes member_04_desc_fading{    
    100% {
        font-size: 32px;
        color: #73956B;
        position: absolute;
        margin-left: 450px;
        margin-top: 3645px;
        z-index: 8;
        text-align: right;
        font-weight: bold;
        letter-spacing: 2;
        opacity: 1;
    }
}

@keyframes member_05_fading{    
    100% {
        background-image: url('assets/member_05.png');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        width: 300px;
        height: 300px;
        z-index: 8;
        margin-left: 400px;
        margin-top: 4600px;
        opacity: 1;
    }
}

@keyframes member_05_id_fading{    
    100% {
        font-size: 25px;
        color: #73956B;
        position: absolute;
        margin-left: 500px;
        margin-top: 4930px;
        z-index: 8;
        text-align: center;
        font-weight: bold;
        letter-spacing: 2;
        opacity: 1;
    }
}

@keyframes member_05_desc_fading{    
    100% {
        font-size: 32px;
        color: #73956B;
        position: absolute;
        margin-left: 810px;
        margin-top: 4680px;
        z-index: 8;
        text-align: left;
        font-weight: bold;
        letter-spacing: 2;
        opacity: 1;
    }
}

@keyframes member_06_fading{    
    100% {
        background-image: url('assets/member_06.png');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        width: 300px;
        height: 300px;
        z-index: 8;
        margin-left: 1200px;
        margin-top: 5800px;
        opacity: 1;
    }
}

@keyframes member_06_id_fading{    
    100% {
        font-size: 25px;
        color: #73956B;
        position: absolute;
        margin-left: 1300px;
        margin-top: 6130px;
        z-index: 8;
        text-align: center;
        font-weight: bold;
        letter-spacing: 2;
        opacity: 1;
    }
}

@keyframes member_06_desc_fading{    
    100% {
        font-size: 32px;
        color: #73956B;
        position: absolute;
        margin-left: 500px;
        margin-top: 5890px;
        z-index: 8;
        text-align: right;
        font-weight: bold;
        letter-spacing: 2;
        opacity: 1;
    }
}